@model PostListModel
@{
    ViewData["Title"] = "Home Page";
}
<br />
@{
    if (Model.Posts!.Count > 0)
    {
        foreach (var item in Model.Posts)
        {

            <div class="card">
                <div class="card-header">
                    <div class="user-panel d-flex">
                        <div class="image">
                            <img src="~/adminlte/img/avatar.png" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <h5>@item.Author.FirstName @item.Author.FirstName</h5>
                            <small class="label-rating text-muted"> Asked on @item.CreateTime.ToString("MMMM dd, yyyy") </small>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <a asp-action="Details" asp-route-id="@item.Id"><h4>@item.Title</h4></a>
                </div>
            </div>
        }
    }
}
<div class="text-center" id="pagingDiv">@Html.Raw(Model.Pagination)</div>